* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom:1;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    background-color: cyan;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: coral;
    color: #fff;
    text-align: center;
    line-height: 42px;
    /* font-size: ; */
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 10px;

}

.nav ul li a {
    display: block;
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
    background-color: skyblue;
}

.search input {
    float: left;
    width: 360px;
    height: 42px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    box-sizing: border-box;
}

.search button {
    float: left;
    height: 42px;
    width: 52px;
    background-color: #00a4ff;
    border: 0;

}

.search button .icon-chair {
    color: #fff;
    font-size: 22px;
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 421px;
    background-color: #1c036c;
    /* color: #fff; */
}

.banner .w {
    height: 421px;
    background-color: darkorchid;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0,0,0, .3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    color: #fff;
    font-size: 14px;
    /* padding: ; */
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    height: 300px;
    width: 230px;
    background-color: #fff;
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.course .bd {
    padding: 0 20px;

}

.course .bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.course .bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course .bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.course .bd ul .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

.goods {
    height: 60px;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0, .1);
    background-color: #fff;
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
    
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .modify {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;

}

.box .box-hd {
    height: 45px;
    line-height: 45px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 30px;
    
}

.box .box-bd ul {
    /* 为了装下5个li */
    width: 1225px;
}

.box .box-bd ul li {
    float: left;
    margin-right: 15px;
    width: 228px;
    height: 270px;
    background-color: aquamarine;
    margin-bottom: 15px;
}



.box .box-bd ul li .image {
    width: 100%;
    height: 160px;
    background-color: skyblue;
}

.box .box-bd ul li h4 {
    margin: 0 20px 0 25px;
    font-size: 14px;
    font-weight: normal;
    color: #050505;
    margin: 20px 20px 20px 25px ;
}

.box .box-bd ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box .info span {
    color: #ff7c2d;
}

.footer {
    background-color: darkblue;
    border-top: 1px solid transparent;
}
.footer .w {
    background-color: darkblue;
    padding-top: 35px;
    height: 415px;
}

.footer .copyright {
    float: left;
}

.footer .copyright h1 {
    color: #fff;
}

.footer .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyright a {
    display: block;
    width: 130px;
    height: 40px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    line-height: 40px;
    text-align: center;
}

.footer .links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.links dl dd {
    font-size: 12px;
    color: #fff;
}